[[source]]
url = "https://pypi.org/simple"
name = "pypi"
verify_ssl = true

[dev-packages]
pylint = "*"
yapf = "*"
rope = "*"
pytest = "*"
pdbpp = "*"

[scripts]
celery = "celery -A scrapy_api.celery.app worker --loglevel=debug"
routes = "flask routes"
dev = "flask run"
gunicorn = "gunicorn -c gunicorn.py scrapy_api.wsgi:app"
clean = "find . -type f -name \"*.py[co]\" -delete -or -type d -name \"__pycache__\" -delete"
docker-up = "docker-compose up"
docker-build = "docker-compose up --build"

[requires]
python_version = "3.6"

[packages]
dynaconf = {version = "*",extras = ["yaml"]}
requests-html = "*"
celery = {version = "*",extras = ["redis"]}
gunicorn = "*"
flask-mongoengine = "*"
blinker = "*"
flask-restplus = "==0.12.1"
marshmallow = "*"
