-i https://pypi.org/simple
-e .
amqp==2.3.2
aniso8601==4.0.1
appdirs==1.4.3
beautifulsoup4==4.6.3
billiard==3.5.0.5
blinker==1.4
bs4==0.0.1
celery[redis]==4.2.1
certifi==2018.11.29
chardet==3.0.4
click==7.0
cssselect==1.0.3
dynaconf[yaml]==1.2.0
fake-useragent==0.1.11
flask-mongoengine==0.9.5
flask-restplus==0.12.1
flask-wtf==0.14.2
flask==1.0.2
gunicorn==19.9.0
idna==2.8
itsdangerous==1.1.0
jinja2==2.10
jsonschema==2.6.0
kombu==4.2.2
lxml==4.2.5
markupsafe==1.1.0
marshmallow-mongoengine==0.9.1
marshmallow==2.16.3
mongoengine==0.16.3
parse==1.9.0
pyee==5.0.0
pymongo==3.7.2
pyppeteer==0.0.25
pyquery==1.4.0
python-box==3.2.3
python-dotenv==0.10.0
pytz==2018.7
pyyaml==3.13
redis==3.0.1
requests-html==0.9.0
requests==2.21.0
six==1.12.0
toml==0.10.0
tqdm==4.28.1
urllib3==1.24.1
vine==1.1.4
w3lib==1.19.0
websockets==7.0
werkzeug==0.14.1
wtforms==2.2.1
